---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: cno-agent
---

kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cno-agent
subjects:
- kind: ServiceAccount
  name: cno-agent
  namespace: $NAMESPACE
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io

---

apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "3"
    fluxcd.io/automated: 'true'
  labels:
    run: cno-agent
  name: cno-agent
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      run: cno-agent
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp:
      labels:
        run: cno-agent
    spec:
      containers:
      - image: beopenit/cno-agent:latest
        imagePullPolicy: Always
        name: cno-agent
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        env:
        - name: IN_CLUSTER
          value: "true"
        - name: KAFKA_TlS_ENABLED
          value: "true"
        - name: KAFKA_BROKERS
          value: $KAFKA_BROKERS
        - name: KAFKA_CA_CERT
          value: /.key/caFile
        - name: KAFKA_CLIENT_CERT
          value: /.key/certFile
        - name: KAFKA_CLIENT_KEY
          value: /.key/keyFile
        - name: LICENCE
          valueFrom:
            secretKeyRef:
              name: cno-agent-config
              key: licence
        volumeMounts:
        - name: kafkaconfig
          mountPath: "/.key"
          readOnly: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      serviceAccountName: cno-agent
      volumes:
      - name: kafkaconfig
        secret:
          secretName: cno-agent-config
