global:
  # cno-api config
  cnoAPI:
    labels:
      # will be applied to pods and deployment
    protocol: http
    # internalServiceName: cno-api-svc
    externalUrl: https://api.cno.io
    heathCheck:
      image:
        name: docker.io/nginxinc/nginx-unprivileged
        version: latest
      endpoint: /api/v1/healthy
# set defaultCluster=true if cluster content control plane
defaultCluster: false
defaultClusterType: eks
cnoOnboarding:
  labels:
    # will be applied to pods and deployment
  image:
    name: docker.io/beopenit/onboarding-operator-kubernetes
    version: v1.1.0
  # resources:
  #   requests:
  #     cpu: 100m
  #     memory: 512Mi
  #   limits:
  #     cpu: 1
  #     memory: 1Gi
cnoCD:
  labels:
    # will be applied to pods and deployment
  image:
    name: docker.io/beopenit/cno-cd-operator
    version: v1.1.0
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 2
      memory: 2Gi
cnoAgent:
  labels:
    # will be applied to pods and deployment
  metricServer: true
  image:
    name: docker.io/beopenit/cno-agent
    version: v1.1.0
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 1Gi
  kafka:
    brokers: cno-kafka-cluster-kafka-external-bootstrap:9094
  licence:
    uuid: aa
    key: |
      my-key
    crt: |
      my-crt
    ca: |
      my-ca
    # Overwrite licence secret: set keys uuid, user.key, user.crt and ca.crt
    # secret:
    #   name: my-licence

includeMonitoring: true

cnoApiGateway:
  type: loadBalancer
  
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: node-role.kubernetes.io/ingress-cno
            operator: Exists
        topologyKey: kubernetes.io/hostname

  tolerations:
    - key: "ingress-cno"
      value: "reserved"
      effect: "NoSchedule"
    - key: "ingress-cno"
      value: "reserved"
      effect: "NoExecute"

  nodeSelector:
    node-role.kubernetes.io/ingress-cno: ""