global:
  # cno-api config
  cnoAPI:
    protocol: http
    # internalServiceName: cno-api-svc
    externalUrl: https://api.cno.io
    heathCheck:
      image:
        name: docker.io/nginxinc/nginx-unprivileged
        version: latest
      endpoint: /api/v1/healthy
# set defaultCluster=true if cluster content control plane
defaultCluster: false
defaultClusterType: AKS
cnoOnboarding:
  image:
    name: docker.io/beopenit/onboarding-operator-kubernetes
    version: v1.0.0
  # resources:
  #   requests:
  #     cpu: 100m
  #     memory: 512Mi
  #   limits:
  #     cpu: 1
  #     memory: 1Gi
cnoCD:
  image:
    name: docker.io/beopenit/cno-cd-operator
    version: v1.0.0
  # resources:
  #   requests:
  #     cpu: 100m
  #     memory: 512Mi
  #   limits:
  #     cpu: 1
  #     memory: 1Gi
cnoAgent:
  metricServer: true
  image:
    name: docker.io/beopenit/cno-agent
    version: v1.0.0
  # resources:
  #   requests:
  #     cpu: 100m
  #     memory: 512Mi
  #   limits:
  #     cpu: 1
  #     memory: 1Gi
  kafka:
    brokers: cno-kafka-cluster-kafka-external-bootstrap:9094
  licence:
    uuid: aa
    key: |
      my-key
    crt: |
      my-crt
    ca: |
      my-ca
    # Overwrite licence secret: set keys uuid, user.key, user.crt and ca.crt
    # secret:
    #   name: my-licence
