apiVersion: v1
kind: ServiceAccount
metadata:
  name: cno-api
imagePullSecrets:
- name: $(IMAGE_PULL_SECRETS_NAME)

---

kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cno-api
subjects:
- kind: ServiceAccount
  name: cno-api
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io