source:
  kind: ConfigMap
  name: cno-config
  fieldPath: data.CNO_UI_IMAGE
targets:
- select:
    kind: Deployment
    name: cno-ui
  fieldPaths:
  - spec.template.spec.containers.[name=cno-ui].image