{{- if .Values.databaseConfig.internalDatabase }}
apiVersion: v1
data:
  DB_USERNAME: {{ "root" | b64enc }}
  DB_PASSWORD: {{ "n9CN4svPLDEq6LQ" | b64enc }}
kind: Secret
metadata:
  name: {{ .Values.databaseConfig.secret.name }}
  namespace: {{ .Release.Namespace }}
{{- end }}
