{{- if and (eq .Values.expose.type "route") (eq .Values.cluster.platform "openshift") }}
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: cno-api
  name: cno-api
  namespace: {{ .Release.Namespace }}
spec:
  host: api.{{ .Values.expose.ingress.domain }}
  to:
    kind: Service
    name: cno-api
    weight: 100
  wildcardPolicy: None
  {{- if eq .Values.global.cnoAPI.protocol "https" }}
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  {{- end }}
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: cno-ui
  name: cno-ui
  namespace: {{ .Release.Namespace }}
spec:
  host: {{ .Values.expose.ingress.domain }}
  to:
    kind: Service
    name: cno-ui
    weight: 100
  wildcardPolicy: None
  {{- if eq .Values.global.cnoAPI.protocol "https" }}
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  {{- end }}
{{- end }}
