source:
  kind: ConfigMap
  name: cno-config
  fieldPath: data.STRIMZI_OPERATOR_IMAGE
targets:
- select:
    kind: Deployment
    name: strimzi-cluster-operator
  fieldPaths:
  - spec.template.spec.containers.[name=strimzi-cluster-operator].image