apiVersion: v1
kind: Service
metadata:
  name: keycloak
  labels:
    app: keycloak
spec:
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  - name: https
    port: 443
    targetPort: 8443
  selector:
    app: keycloak
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: keyclaok
  name: keycloak
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      volumes:
      - name: cno-realm
        configMap:
          name: cno-realm
      containers:      
      - env: 
        - name: KEYCLOAK_IMPORT
          value: /cno/cno-realm.json
        #- name: KEYCLOAK_IMPORT
        #  valueFrom:
        #    configMapKeyRef:
        #      name: cno-realm
        #      key: cno-realm.json
        - name: KEYCLOAK_USER
          valueFrom:
            secretKeyRef:
              key: ADMIN_USERNAME
              name: credential-cloud-keycloak
        - name: KEYCLOAK_PASSWORD
          valueFrom:
            secretKeyRef:
              key: ADMIN_PASSWORD
              name: credential-cloud-keycloak
        - name: DB_VENDOR
          value: postgres
        - name: DB_ADDR
          value: postgres-svc
        - name: DB_PORT
          value: "5432"
        - name: DB_DATABASE
          value: postgres
        - name: DB_SCHEMA
          value: public
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: keycloak-postgres
              key: POSTGRES_PASSWORD
        - name: DB_PORT
          value: "5432"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: keycloak-postgres
              key: POSTGRES_USER
        image: quay.io/keycloak/keycloak:15.1.1
        #args: ["import --dir='/cno' --file='cno-realm.json' --realm='cno' --override='true' && start --proxy='passthrough' --hostname-strict-backchannel='false' --hostname='localhost' --http-enabled='true' --hostname-strict='false' "]
        #args: ["import --dir='/cno' --file='cno-realm.json' --realm='cno' --override='true' && start --proxy='passthrough' --hostname-strict-backchannel='false' --db-password='POSTGRES_PASS' --db-schema='public' --db-url-database='postgres' --db-url-properties='postgres' --db-url-host='postgres-svc:5432' --db-username='postgres' --hostname='localhost' --http-enabled='true' --hostname-strict='false'"]
        imagePullPolicy: IfNotPresent
        name: keycloak
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        - containerPort: 8443
          name: https
          protocol: TCP        
        volumeMounts:
          - name: cno-realm
            mountPath: /cno          
        resources: {}
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      terminationGracePeriodSeconds: 60
  updateStrategy:
    type: RollingUpdate
  
      
---